name: check

on:
  push:
    branches: [ "**" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-codeql@v3
        continue-on-error: true
      - uses: actions/setup-go@v5
        with:
          go-version: "1.23"
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Enable Corepack
        run: corepack enable
      - name: Build Frontend
        run: |
          cd web
          pnpm install
          pnpm run build
      - name: Run Tests
        run: go test -v ./...
      - name: Vet
        run: go vet ./...

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.23"
      - name: Create Dummy Frontend
        run: |
          mkdir -p web/dist
          touch web/dist/index.html
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
